modules = ["php-8.2", "web", "nodejs-20", "php-8.3"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dev-server"

[[workflows.workflow]]
name = "dev-server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run serve"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 37517
externalPort = 3001

[[ports]]
localPort = 39743
externalPort = 3000
