/* Light mode (default) */
:root {
  --primary-color: #FFF;
  --text-color: #121212;
  --sub-text-color: #5A5C5E;
  --sub-bg-color: #F2EEFE;
  --icon-filter: brightness(0) saturate(100%) invert(4%) sepia(3%) saturate(1487%) hue-rotate(119deg) brightness(96%) contrast(93%);
  --input-bg: #F5F5F5;

  

  --border-colors: #F5F5F5;
  --apple-icon: brightness(0) saturate(100%) invert(0%) sepia(99%) saturate(5%) hue-rotate(317deg) brightness(103%) contrast(103%);
  --sign-in-bg: #E4FFEE;
  --cal-icon: brightness(0) saturate(100%) invert(0%) sepia(23%) saturate(2539%) hue-rotate(118deg) brightness(92%) contrast(89%);
  --language-color: #FFF;
  --visa-color: #172B85;
  --box-color: #FFFFFF;
  --border-colors-second: #F5F5F5;
  --dots-img: brightness(0) saturate(100%) invert(100%) sepia(19%) saturate(5777%) hue-rotate(182deg) brightness(120%) contrast(88%);
}

.dark {
  --primary-color: #121212;
  --text-color: #FFF;
  --sub-text-color: #A0A0A0;
  --sub-bg-color: #1d1d1d;
  --icon-filter: brightness(0) saturate(100%) invert(100%) sepia(5%) saturate(7482%) hue-rotate(253deg) brightness(107%) contrast(99%);
  --input-bg: #1d1d1d;



  --border-colors: #1D1D1D;
  --apple-icon: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(245deg) brightness(104%) contrast(104%);
  --sign-in-bg: #1D1D1D;
  --cal-icon: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(79deg) brightness(102%) contrast(104%);
  --language-color: #0F0F0F;
  --visa-color: #FFFF;
  --box-color: #1D1D1D;
  --border-colors-second: #121212;
  --dots-img: brightness(0) saturate(100%) invert(10%) sepia(0%) saturate(2679%) hue-rotate(249deg) brightness(96%) contrast(95%);
}