@layer components {
    .logo-container {
        caret-color: transparent;
        user-select: none;
    }

    .logo-container img {
        pointer-events: none;
    }

    .category-list-scrollable {
        overflow-y: auto;
        max-height: calc(100vh - 370px);
        -webkit-overflow-scrolling: touch;
        overscroll-behavior: contain;
    }
}
